body {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.navigation {
	position: fixed;
	padding-top: 0px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 0px;
	left: 0px;
	top: 0px;
	width: 100%;
	text-align: right;
}

.navigation td {
	width: 60px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.navigation h1 {
	position: relative;
	text-align: inherit;
	color: #5a6472;
	font-size: 20px;
	font-family: 'Droid Serif', serif;
	font-weight: bold;
}

.navigation h2 {
	position: relative;
	text-align: right;
	color: #5a6472;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding-right: -100px;
}

.navigation h3 {
	position: relative;
	text-align: inherit;
	color: #5a6472;
	font-size: 15px;
	font-family: 'Roboto', serif;
	font-weight: bold;
	padding-right: -100px;

}

.gallery {
	/* width: 80%; */
	position: center;
	padding-left: 300px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-clip: content-box;
}

.gallery img {
	position: relative;
	text-align: center;
	width: 250px;
	height: 250px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.gallery h2 {
	font-size: 20px;
	font-family: 'Droid Serif', serif;
	font-weight: bold;
	padding-left: 0px;
}

.gallery h3 {
	position: fixed;
	color: #2A2827;
	text-align: left;
	font-size: 15px;
	font-family: 'Droid Serif', serif;
	font-weight: italic;
	padding-top: 300px;
	padding-left: 25px;
}

.gallery p {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	padding-left: 10px;
}

.gallery li {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	padding-left: 10px;
	padding-bottom: 5px;
}

.navigation a:link {
	text-decoration: none;
	color: #5f6266;
}

.navigation a:visited{
	color: #5f6266;
}

.navigation a:hover{
	color: #e0ecff;
	font-style: italic;
}

.gallery a:link {
	text-decoration: underline;
	color: inherit;
}

.gallery a:visited{
	color: #5f6266;
}

.gallery a:hover{
	color: #5f6266;
	font-style: italic;
	padding-left: 2px;
}

.live {
	/* width: 80%; */
	position: center;
	padding-left: 300px;
	padding-right: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-clip: content-box;
}

.live iframe {
	position: relative;
	text-align: center;
	height: 400px;
	width: 500px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
